[Unit]
Description=FastAPI Application
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/workshop
Environment="PYTHONPATH=/opt/workshop"
Environment="SOPS_AGE_KEY_FILE=/home/workshop/.ssh/age.key"
ExecStart=/bin/bash -c ' \
  export $(/usr/bin/sops --decrypt \
  --input-type dotenv --output-type dotenv <(cat .env.testing.enc) | xargs -0); \
  /opt/workshop/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000'
[Install]
WantedBy=multi-user.target